<p class="text-danger mt-3">
  Provide input's <b>id</b>.
</p>
<div class="container text-start col-sm-auto col-md-8 col-lg-6 col-xl-5" style="background-color: black; color: white;">
  <p style="white-space: pre-wrap;">
  {&#37 <code>from</code> </code><span style="color: yellow;">"partials/macros.html"</span> <code>import</code> error &#37}
  <code>&#60input</code> type=<span style="color: yellow;">"text"</span> id=<span style="color: yellow;">"input_id"</span><code>></code>
  {&#123 error<code>(</code><span style="color: yellow;">'input_id'</span>, [font_size<code>=</code><span style="color: yellow;">'small'</span>], [color<code>=</code><span style="color: yellow;">'red'</span>]<code>)</code> &#125}
  </p>
</div>