<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <!-- http://getbootstrap.com/docs/5.1/ -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    <!-- https://code.jquery.com/jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- https://favicon.io/ -->
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon">

    <!-- Layout files -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='layout.js') }}"></script>

    <title>Virtual Manager: {% block title %}{% endblock %}</title>
  </head>

  <body>
    <nav class="bg-dark navbar navbar-expand-md navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">Virtual Manager</a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#layoutNavbar" data-bs-toggle="collapse" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="layoutNavbar">
          {%- if g.user %}
            <ul class="navbar-nav me-auto mt-2" id="index-tabs">
              <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Overview</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('items.overview') }}">Items</a></li>
              <li class="nav-item"><a class="nav-link disabled" href="/products">Products</a></li>
              <li class="nav-item"><a class="nav-link disabled" href="/sale">Sales</a></li>
            </ul>
            <ul class="navbar-nav ms-auto mt-2">
              <li class="navbar-text text-info me-3">User: <b>{{ g.user['username'] }}</b></li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">
                  Log Out
                </a>
              </li>
            </ul>
          {% else %}
            <ul class="navbar-nav ms-auto mt-2">
              <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a></li>
            </ul>
          {% endif -%}
        </div>
      </div>
    </nav>

    <div class="alert alert-info text-center" role="alert">
      Under <strong>development</strong>.
    </div>
    
    <!-- Debug flash messages -->
    {# {% if get_flashed_messages() %}
    <header>
      {%- for message in get_flashed_messages() %}
      <div class="alert alert-dark mb-0 text-center" role="alert">
        {{ message }}
      </div>
      {% endfor -%}
    </header>
    {% endif %} #}

    <main class="container-fluid py-5 text-center">
      {% block main %}{% endblock %}
    </main>

    <footer class="mb-5 small text-center text-muted">
      &#169; 2023 Rafael Gomes
    </footer>
  </body>
</html>