{% extends "layout.html" %}

{% block title %}
  Items - Overview
{% endblock title %}

{% block main %}
  <table class="table table-hover align-middle">
    <thead>
      <tr>
        <th>Item</th>
        <th>Amount</th>
        <th>Measure</th>
        <th>Purchase Price</th>
        <th>Is Product?</th>
        <th>Sale Price</th>
        <th>Quantity Alert</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% if items %}
      {% for item in items %}
      <tr>
        <td>{{ item['item_name']|title }}</td>
        <td>{{ item['amount'] }}</td>
        <td>{{ item['measure'] }}</td>
        <td id="{{ item['item_name'] }}-price">
          {{ item['price']|usd }}
        </td>
        <td>
          {{ 'Yes' if item['is_product'] else 'No' }}
        </td>
        <td id="{{ item['item_name'] }}-salePrice">
          {{ item['sale_price']|usd }}
        </td>
        <td>{{ item['quantity_alert'] }}</td>
        <td>
          <div class="d-flex justify-content-evenly">
            <a href="{{ url_for('items.update_item', id=item['id']) }}" role="button" class="btn btn-primary">Edit</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-{{item['id'] }}">
              Delete
            </button>
          </div>
        </td>
      </tr>
      <!-- Modals -->
      <div class="modal fade" id="delete-{{ item['id'] }}" tabindex="-1" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"><i
                  class="bi bi-exclamation-triangle-fill text-danger"></i> Irreversible action!</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fs-6">
              Do you want to delete the item "{{ item['item_name']|title }}"?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
              <a href="{{ url_for('items.delete_item', id=item['id']) }}" role="button" class="btn btn-danger">Yes</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="8">Add some items</td>
      </tr>
      {% endif %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="8">
          <a href="{{ url_for('items.create_item') }}" role="button" class="btn btn-primary">Add Item</a>
          <a href="{{ url_for('items.history') }}" role="button" class="btn btn-primary">History</a>
        </td>
      </tr>
    </tfoot>
  </table>
{% endblock main %}