{% extends "layout.html" %}
{% block title %}
Item {% if item %}- Update {% else %}- Add {% endif %}
{% endblock title %}
{% block main %}
<script type="text/javascript">
    $(document).ready(function() {
        if ($('#itemData').html()) {
            const data = JSON.parse($('#itemData').html())
            Object.entries(data).forEach(([key, value]) => {
                if (key == "is_product" && value == 0) {
                    $('#isProduct0').attr('checked', 'checked')
                } else if (key == "is_product" && value == 1) {
                    $('#isProduct1').attr('checked', 'checked')
                    $('#salePriceDiv').show()
                }
                $(`#${key}`).val(value)
            })
        }

        let salePrice = $('#sale_price').val()
        $('#sale_price').on('keyup', function() {
            salePrice = $('#sale_price').val()
        })

        $('[name="is_product"]').change(function() {
            if ($(this).val() == 1) {
                $('#salePriceDiv').show()
                $('#sale_price').val(salePrice)
            } else {
                $('#salePriceDiv').hide()
                $('#sale_price').val(null)
            }
        })
    })
</script>
{% if item %}
    <div id="itemData" hidden>
        {{ item|tojson}}
    </div>
    {% set form_action = url_for('items.upd', item['id']) %}
{% else %}
    {% set form_action = url_for('items.add') %}
{% endif %}
<form action="{{ form_action }}" method="POST">
    {% if item %}
        <div class="mx-auto w-auto mb-3">
            <b>{{ item.item_name }}</b>
        </div>
    {% else %}
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="item_name" name="item_name" placeholder="Item name" type="text" {% if item %} disabled {% endif %}>
        </div>
    {% endif %}
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="amount" name="amount" placeholder="Amount" type="number" step="0.1" min="0">
    </div>
    <div class="mb-3">
        <select class="form-select mx-auto w-auto" name="measure" id="measure" aria-label="Unit of measurement">
            <option value="" selected>Unit of measurement</option>
            <option value="Kg">Kg</option>
            <option value="L">L</option>
            <option value="Unit">Unit</option>
        </select>
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="quantity_alert" name="quantity_alert" placeholder="Quantity alert" type="number" step="0.1" min="0">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="price" name="price" placeholder="Price" type="number" step="0.01" min="0">
    </div>
    {# <p>Is this item for sale?</p> #}
    <div class="form-check form-check-inline" hidden>
        <input class="form-check-input" type="radio" name="is_product" id="isProduct0" value="0" checked>
        <label class="form-check-label" for="exampleRadios1">
            No
        </label>
    </div>
    <div class="form-check form-check-inline mb-3" hidden>
        <input class="form-check-input" type="radio" name="is_product" id="isProduct1" value="1">
        <label class="form-check-label" for="exampleRadios2">
            Yes
        </label>
    </div>
    <div class="mb-3" id="salePriceDiv" style="display: none;">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="sale_price" name="sale_price" placeholder="Sale price" type="number" step="0.01" min="0">
    </div>
    <div>
        <button class="btn btn-primary" type="submit">
            {% if item %}
                Update
            {% else %}
                Add
            {% endif %}
        </button>
        <a href="{{ url_for('items.overview')}}" role="button" class="btn btn-danger">Cancel</a>
    </div>
</form>
{% endblock main %}
